html { 
    width: 100%;
    height: 100%;
}
header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
   }

body { 
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgb(171, 31, 117)
    }

    
.noto-sans jp-h1{
      font-family: "Noto Sans JP", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}
    
h1 {
    font-family : "Noto Sans JP", sans-serif;
    font-size: 4.5vw;
    color: #2b43ac;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    }

#content {
    padding: 3px;
    }


#WPI{
     /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
      list-style-type: none; /* remove bullet points */ 
}
    
#main_nav li a {
    display: block;
    text-decoration: none; /* remove underline */
    border-radius: 2vw;
    margin: .75vw;
    padding: 1.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    color: #222;
    font-weight: bold;
    
    
    /* nice gradient shade on the buttons */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    
    border: 1px solid #666; /* dark outline */
    }

nav li:active {
    background-color: #ccc;
    background-image: none;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
    }

footer { 
    font-size: 1vw;
    text-align: center;
    padding: 10px;
    background-color: #9fcfff;
    color: #1f222a;
    height : 10vh;
    
    
    }


#nav_bar {
    text-align: right;
    }

#nav_bar ul { 
    padding: 0; 
    margin: 0; 
    list-style-type: none;
    font-size: 20px;
}

#nav_bar li  {
    list-style-type: none; /* remove bullet points */ 
    display: inline;
    margin: 0px;
}


#nav_bar li a {
    
    color: rgb(68, 13, 131);
    text-decoration: none; /* remove underline */
    border-radius: 10px;  /* rounded corners */
    margin: 6px;
    padding: 9px;
    font-weight: bold;
    font-size: 1.5vw;
}
    
#OnYouPaletteDiv {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
}

#AroundYouPaletteDiv {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
}

#InBrandingPaletteDiv {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
}

.homepage {
    /* column layout */
    display: flex;
    align-items: center;
    height : 90vh;

}

.homepage-text{
    align-items: center; 
    width : 50vw;


}

.homenav {

    width : 50vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size : 2vw;
    margin-top: 4vw;
}

.section-container {
    text-align: center;
    padding: 4vw;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 30px auto;
}

.section-description {
    font-size: 2vw;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
}

.button-container button {
    background-color: #ffffff; /* Light purple background, change as needed */
    color: #000000; /* Darker purple text, change as needed */
    border: 2px solid #21215d; /* Dark purple border */
    border-radius: 15px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    margin: 10px; /* Space between buttons */
}

.button-container button.active, .button-container button:hover{
    background-color: #21215d; /* Dark purple background when button is clicked */
    color: #ffffff; /* White text when button is clicked */
}